@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?wxt7pb');
    src:    url('../fonts/icomoon/icomoon.eot?wxt7pb#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?wxt7pb') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?wxt7pb') format('woff'),
        url('../fonts/icomoon/icomoon.svg?wxt7pb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-facebook:before {
    content: "\e900";
}
.icon-icon-google-plus:before {
    content: "\e901";
}
.icon-icon-instagram:before {
    content: "\e902";
}
.icon-icon-pinterest:before {
    content: "\e903";
}
.icon-icon-shopping-purse:before {
    content: "\e904";
}
.icon-icon-twitter:before {
    content: "\e905";
}
.icon-menu:before {
    content: "\e9bd";
}

/*Helpers*/

a{
    color:#e2574c;
}

a:active,
a:hover,
a:focus,
a:visited{
    color:#AF261D;
}


.ultimos-productos--top{
     padding: 0 0.3rem 0.7rem;
}

.ultimos-productos--bottom{
     padding: 0 0.3rem;
}

.bg_footer{
    background-color: #242424;
}

.bg_gris{
    background-color: #f2f2f2;
}

.bg_blanco{
    background-color: #fff;
    overflow: hidden;
    padding: 0.7rem 0.3rem;
}

.padding--section{
    padding: 6rem 0;
}

.padding--min{
    padding: 0 0.3rem;
}

.product_popular--top{
    padding-top: 3rem;
}

.product_popular--bottom{
    padding-bottom: 3rem;
}


.text--small{
    font-size:0.8em;
    color:#7e7e7e;
}

.title--secundary{
    font-size:1rem;
    padding:1.5rem 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.title--product{
    font-weight: bold;
    color:#242424;
}

body{
    font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}



.button{
    background-color: #e2574c;
}

    .button:hover{
        background-color: #AF261D;
    }

/*Footer*/

.footer{
    padding:2rem 0;

}

.footer .menu li a,
.footer .menu li{
    color: #d3d3d3;
    font-family: 'Raleway', sans-serif;
    font-size:0.91rem;
    padding:0.3rem 0;
}

.footer .menu li.text--white{
    color:white;
    font-weight: bold;
}


.logo{
    font-family: 'Playfair Display', serif;
}


.product{
    color:#969696;
}


.price::before{
    content: " $ ";
}

.mensaje__information{
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

